<div class="bg-blue-100 py-20">
  <section class="grid w-4/5 mx-auto gap-4 grid-rows-4 grid-cols-5">

      <img src="dog.jpg" class="col-start-3 col-end-6 row-start-1 row-end-4">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">
      <img src="dog.jpg" class=" ">

  </section>


</div>
