<nav class="bg-violet-600
              h-20
              px-8
              text-white
              flex
              justify-between
              items-center     ">
  <h1 class="text-3xl">Logo.</h1>
  <div class="flex gap-8 ">
    <a href="#" class="text-lg">Inicio</a>
    <a href="#" class="text-lg">Acerca de </a>
    <a href="#" class="text-lg">Contacto</a>
  </div>
</nav>

<figure class="w-64 h-96 relative top-10 left-20">

  <p class="absolute inset-0 bg-red-500/40 flex items-center
      justify-center text-3xl text-white font-bold z-10">
      Soy un texto!
  </p>
  <img src="1.jpg" class="w-full h-full relative object-cover  hover:scale-150 z-20">

</figure>

<br>
<br>
<br>
<br>

<form action="">
  <input type="text" placeholder="Ingresa tu nombre"
      class="border
          border-black
          block
          mx-auto
          mt-10
          p-8
          focus:bg-red-400
          focus:placeholder:text-white
          focus:text-white
          ">
</form>
