
<article class="
  bg-violet-800
  w-5/6
  max-w-screen-md
  text-white
  mt-24
  mx-auto
  px-6
  py-4
  rounded-b-xl
  text-center
  font-['Montserrat']
  border-8
  border-x-green-400
  border-y-red-400
  border-double
  border-b-inherit
  ">

  <img
    src="https://i.pinimg.com/originals/80/7b/29/807b29f756cc47621f92b3581e263272.jpg"
    alt="Spiderman"
    class="w-64 h-64 mx-auto mb-4 rounded-full object-cover">

  <h2 class="text-2xl/tight mt-6 mb-8 font-bold">Soy Spiderman</h2>

  <p class="text-lg mb-6 font-light">
    Binevenido a mi universo!</p>

  <a href="#" class="bg-white text-violet-800 py-6 px-16 inline-block rounded-[50px]  ">Contáctame</a>
</article>
