<div class="bg-blue-100 py-20">
  <section class=" md:h-screen grid  gap-8 w-[90%] mx-auto justify-items-center max-w-screen-lg items-center md:grid-cols-2" >

      <img src="dog.jpg" class="aspect-square object-cover rounded-full max-w-sm w-4/5">

      <article class="px-8 py-4 grid gap-8">
        <h1 class="text-3xl font-bold text-center md:text-left md:text-5xl/normal">
          ¿Mi nombre es Loki, me puedo unir a tu vida?
        </h1>

        <p class="leading-10 text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque
          dolorum voluptate obcaecati non quae, hic doloribus saepe est eligendi
          quis fuga illo. Obcaecati quae et rem, quis eveniet quo.
        </p>

        <a href="#" class="bg-blue-700 text-white text-center py-6 rounded-xl   font-bold hover:scale-110 transition-transform">¡Adóptame!</a>
      </article>
  </section>
</div>
